*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-color: rgb(6, 6, 26);
}
header{
    max-width: 100%;
    height: 10vh;
}
.inner-header{
    max-width: 93%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 22px;
}

nav ul{
    display: flex;
}
nav ul li{
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 7px 20px;
    background-color: rgb(18, 18, 66);
    margin: 0 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
nav ul li:hover{
    background-color: rgb(26, 26, 119);
}
nav ul li a{
    color: #fff;
    font-size: 18px;
}
nav ul li:last-child{
    margin-right: 0px;
}

main{
    width: 93%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
}

.left-side{
    padding-top: 120px ;
    width: 50%;
}
.line{
    width: 120px;
    height: 2px;
    background-color: #fff;
    margin-top: 8px;
}
.intro h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.intro p{
    color: rgb(16, 16, 128);
    font-size: 22px;
    font-weight: 600;
    margin-top: 4px;
}
.pragraph{
    margin-top: 46px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}

.buttons{
    margin-top: 42px;
}
.btn{
    padding: 12px 24px;
    border-radius: 50px;
    border: 1px solid blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.btn1{
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: rgb(18, 18, 66);
    margin-right: 12px;
    transition: all 0.2s ease-in-out;
}
.btn1:hover{
    background-color: rgb(21, 21, 114);
}
.btn2{
    font-weight: 600;
    border-color:  rgb(135, 15, 139);
    color: rgb(135, 15, 139);
    transition: all 0.2s ease-in-out;
}
.btn2:hover{
    border-color:  rgb(135, 15, 139);
    background-color:  rgb(135, 15, 139);
    color: #fff;

}
.icons{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fab{
    border: 1px solid rgb(21, 21, 114);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 8px;
    transition: all 0.2s ease-in-out;
}
.fab:hover{
    background-color: rgb(21, 21, 114);
}




.right-side{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif{
    position: absolute;
    height: 500px;
    width: 40%;
    border-radius: 50%;
}

@media only screen and (max-width: 1240px){
    .astronout{
        height: 400px;
    }
    .gif{
        height: 400px;
    }
} 

@media only screen and (max-width: 980px){
    .astronout{
        height: 330px;
    }
    .gif{
        height: 330px;
    }
    .pragraph{
        margin-top: 40px;
        font-size: 18px;
        
    }
    .btn{
        padding: 10px 22px;
        font-size: 18px;
    }
} 

